@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-typeface-brand: "Kalnia", serif;
  --logo-small-size: 22px;
  --logo-small-line-height: 70px;
  --logo-small-letter-spacing: -1.25px;
  --leading-trim-cap-height: both;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #f7f0e6;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



@keyframes progress {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 0.3s ease-out;
}

.animate-fadeOutDown {
  animation: fadeOutDown 0.3s ease-out;
}
